body{
    background-color: orange;

}
#score{
    font-size: large;
    margin-left:20px;
    float: left;
}
#timer{
    font-size: large;
    margin-right: 20px;
    float: right;
}
#sketch_name{
    color: aquamarine;
    
}